MONGO_URI=mongodb+srv://ownddbb1_db_user:BAVUbtBJYOlw35si@devdb.4luluxd.mongodb.net/?appName=devdb
PORT=4000
JWT_SECRET=836651c19e9fb0fa09d10bbc6b89cde219784fa419a7d57d53d614fb820ec25b98dede84c004881a81d429998e97a3c3f3f78c556d05272a7ef60ea930dc449f
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openai/gpt-4o-mini
OPENROUTER_API_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_REFERER=https://reqtracker.example.com
ANALYTICS_URL=http://analytics:8000
APP_TITLE=ReqTracker
BASE_URL=http://localhost:4000